@import url(./css/weather-icons.min.css);

/* * Declare the font using @font-face 
    * This tells the browser where to find the font and gives it a name.
    */
@font-face {
    font-family: 'AvenirNextDemi';
    src: url('font/AvenirNext-DemiBold-03.ttf') format('opentype');
}

@font-face {
    font-family: 'AvenirNextHeavy';
    src: url('font/AvenirNext-Heavy-09.ttf') format('opentype');
}

@font-face {
    font-family: 'AvenirNextMedium';
    src: url('font/AvenirNext-Medium-06.ttf') format('opentype');
}

body {
    font-family: 'AvenirNextMedium', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #424B4C;
    font-size: 40px;
    
}
.weather-widget {
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.weather-widget h1 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 35px;
    
}
.weather-icon {
    padding-right: 20px;
}
.temperature {
    font-family: 'AvenirNextHeavy';
    margin: 0px;
}
.description {
    font-size: 40px;
    margin: 0px;
}
.loading {
    font-style: italic;
    color: #777;
}
.condition {
    display: inline-block;
}
.conditions {
    font-size: 90px;
    padding-top: 5px;
    display: flex;
    align-items: center;
}
.feels-like {
    font-family: 'AvenirNextDemi';
    font-size: 50px;
    margin: 0px;
    padding: 10px;
}
.feels-like-temp {
    font-family: 'AvenirNextHeavy';
}